.cell {
    background-color: rgb(44, 44, 44);
    color: white;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.cell:hover {
    background-color: rgb(0, 0, 0);
}

.board-row {
    height: 40px;
}

.tile, .numNeighbors {
    width: 15px;
    height: 15px;
}
